html {
  height: 100%;
  width: 100%;
}

img {
  width: 100px;
}

.blur {
    filter: blur(5px);
}

.brightness {
filter: brightness(1.5);
}

.contrast {
  filter: contrast(200%);
}

.drop-shadow {
filter: drop-shadow(16px 16px 20px red);
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.invert {
  filter: invert(75%);
}

.opacity {
  filter: opacity(25%);
}

.saturate {
  filter: saturate(30%);
}

.sepia {
  filter: sepia(60%);
}

#filter {
  filter: url(#filter)
}

#filter {
filter: opacity(25%);
filter: contrast(200%);
}